#ignore temporary vim files

*.swp
*.swo
.*.swp
.*.swo

#ignore log and temporary files

*~
*.log
*.bak

#ignore subcircuit files

*.ic*
*.st*
*.tr*
*.sw*
*.ac*
*.pa*

#ignore output files
*.out
*.lis

